@import "./../../mixins";

.shortenedLink {
  background-color: $theme-ligth-gray;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
