@import "./../../../mixins";

.nav {
  .navList {
    text-align: center;
    background-color: $theme-dark-violet;
    position: fixed;
    inset: 4.5rem 1rem 0 50%;
    max-width: 27rem;
    width: 95%;
    overflow: auto;
    height: 70vh;
    max-height: 20.813rem;

    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    transform: translateX(-50%);
    z-index: 1000;

    border-radius: 0.8rem;
    font-weight: 700;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 1.3rem;

    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-100%);
    &.open {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  .navbar__link {
    text-decoration: none;
    color: $theme-white;
    padding: 0.8rem;
    width: 100%;
    display: block;
    font-size: 0.9375rem;
    transition: all 0.3s ease-in-out;

    @include media-hover-effect {
      &:hover {
        color: $theme-dark-blue;
      }
    }
  }

  .btn {
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-size: 1rem;
    color: $theme-white;
    width: 100%;
    padding: 0.8rem;
    font-weight: 700;
  }

  .btnLogin {
    margin-top: 1rem;
  }

  .btnSignup {
    border-radius: 7rem;
    background-color: $theme-cyan;

    @include media-hover-effect {
      &:hover {
        background-color: lighten($theme-cyan, 25%);
        color: $theme-white;
      }
    }
  }

  .hamburger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0.2rem;
    height: 1.625rem;
    width: 2.0625rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 0;

    &__box {
      width: 100%;
      height: 0.25rem;
      background-color: black;
      border-radius: 0.625rem;
    }

    &__box1 {
      transform-origin: center center;
      transition: transform 0.3s ease-in-out;
    }

    &__box2 {
      transition: transform 0.2s ease-in-out;
    }

    &__box3 {
      transform-origin: center center;
      transition: transform 0.3s ease-in-out;
    }
  }

  .open {
    .hamburger {
      position: fixed;
    }

    .hamburger__box1 {
      transform: rotate(45deg) translate(0.5rem, 0.5rem);
    }
    .hamburger__box2 {
      transform: scaleY(0);
    }
    .hamburger__box3 {
      transform: rotate(-45deg) translate(0.5rem, -0.4375rem);
    }
  }

  &bar__itemLogin {
    border-top: 1px solid $theme-grayish-violet;
  }

  @include media-breakpoint-up($screen-lg) {
    width: 100%;
    .navList {
      transform: none;
      opacity: 1;
      visibility: visible;
      position: static;
      max-width: initial;
      background-color: transparent;
      box-shadow: none;
      padding: 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: auto;

      &.open {
        transform: none;
        opacity: 1;
        visibility: visible;
      }
    }

    .navList {
      flex-direction: row;
      align-items: center;
    }

    .navList {
      gap: 2.07rem;
    }

    .navbar__link {
      color: $theme-grayish-violet;
      padding: 0;
    }

    .btnSignup {
      color: $theme-white;
    }

    .btn {
      width: 6.5625rem;
      padding-block: 0.5625rem 0.625rem;
    }

    .navbar__itemLogin {
      margin-left: auto;
      border-top: none;
    }

    .btnLogin {
      width: auto;
      margin-top: 0;
      color: $theme-grayish-violet;
    }
  }

  @include media-breakpoint-up($screen-lg) {
    .hamburger {
      display: none;
    }
  }
}

.disableScroll {
  overflow-y: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #9c96aa91;
  }

  @include media-breakpoint-up($screen-lg) {
    overflow-y: auto;

    &::before {
      display: none;
    }
  }
}
